<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ddwu.mobile.finalproject.ma02_20180983">
    <queries>
        <package android:name="com.kakao.talk"/>
    </queries>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--기기에 카메라가 있을 경우에만 palystore 에서 다운받도록 지정-->
    <uses-feature android:name="android.hardware.camera"
        android:required="true" />


    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MA02_20180983"
        android:usesCleartextTraffic="true">

        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDBqqH7UcwVR2iOAYuzNcyrRnSJykW8diY" />

        <!--외부의 앱이 내 앱의 파일을 접근할 수 있도록 FileProvider 지정-->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="ddwu.mobile.finalproject.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>

        <activity android:name=".myFoodActivity" />
        <activity android:name=".addFoodActivity"/>
        <activity android:name=".foodInfoActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="@string/kakao_scheme"
                    android:host="@string/kakaolink_host" />
            </intent-filter>
        </activity>
        <activity android:name=".addRouteActivity"/>
        <activity android:name=".routeInfoActivity"/>
        <activity android:name=".routeMapActivity"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key"/>

    </application>

</manifest>